.checkout-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-title {
  margin-bottom: 20px;
}

.checkout-total {
  background-color: #036b52;
  border-radius: 10px;
  color: #f2fffc;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  width: 200px;
}

.finish-button {
  background-color: #036b52;
  border-radius: 10px;
  border-style: none;
  color: #f2fffc;
  font-size: 30px;
  font-weight: 700;
  padding: 10px 30px;
  width: 300px;
}

.checkout-page input {
  padding: 10px 30px 10px 10px;
  text-align: center;
}

.input-checkout {
  width: 200px;
}

.input-address {
  width: 500px;
}

.checkout-page form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  align-items: center;
  justify-items: center;
}